<footer>
    <div class="footer-content">
        <p>&copy; 2024 <strong> Peer Faizan</strong>. All rights reserved.</p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/faizan-syed-4370152b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="/images/linkedin.png"></a></li>
            <li><a href="https://github.com/Faizan-313"><img src="/images/github.png"></a></li>
            <li><a href="#"><img src="/images/twitter.png"></a></li>
        </ul>
    </div>
</footer>