<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/partials.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <title>The Book Vault</title>
</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="/images/logo.png" alt="Logo">
            <% if (show) {%>
                <a href="/add">Add Book</a>
            <% }else{ %>
                <a href="/index">Home</a>
            <% } %>
            <!-- Logout Confirmation Modal -->
            <a id="logoutButton" href="#">Logout</a>
        </div>

        </div>
        <% if (show) {%>
            <form id="filter-form" action="/filter" method="get">
                <div class="filter-container">
                    <label for="filter-dropdown">Filter</label>
                    <select id="filter-dropdown" name="filter" onchange="document.getElementById('filter-form').submit()">
                        <option value="book_name" <% if (filter_value === 'book_name') { %> selected <% } %>>Default</option>
                        <option value="user_rating" <% if (filter_value === 'user_rating') { %> selected <% } %>>Ratings</option>
                        <option value="event_date" <% if (filter_value === 'event_date') { %> selected <% } %>>Date</option>
                    </select>
                </div>
            </form>
        <% } %>
    </nav>
    <script>
        document.getElementById("logoutButton").addEventListener("click", (e) => {
            if(e.isTrusted){
                e.preventDefault();
                const confirmLogout = confirm("Are you sure you want to logout?");
                if (confirmLogout) {
                    window.location.href = "/logout";
                }
            }else{
                alert("Please click the button to logout");
            }
        });
    </script>
</body>
</html>