<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/partials.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <title>The Book Vault</title>
</head>
<body>
    <nav>
        <div class="left-nav">
            <img src="/images/logo.png" alt="Logo">
            <% if (show) {%>
                <a href="/add">Add</a>
            <% }else{ %>
                <a href="/">Home</a>
            <% } %>
        </div>
        <% if (show) {%>
            <form id="filter-form" action="/filter" method="get">
                <div class="filter-container">
                    <label for="filter-dropdown">Filter</label>
                    <select id="filter-dropdown" name="filter" onchange="document.getElementById('filter-form').submit()">
                        <option value="id" <% if (filter_value === 'id') { %> selected <% } %>>Default</option>
                        <option value="rattings" <% if (filter_value === 'rattings') { %> selected <% } %>>Ratings</option>
                        <option value="event_date" <% if (filter_value === 'event_date') { %> selected <% } %>>Recency</option>
                    </select>
                </div>
            </form>
        <% } %>
    </nav>
</body>
</html>