<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/auth.css" rel="stylesheet">

</head>
<body class="login">
    <div class="loginContainer">
        <% if (message) { %>
            <div class="alert">
                <h3 class="invalid-credentials"><%= message %></h3>
            </div>
        <% } %>
        <div class="box">
            <form method="post" action="/auth/login" class="login-form">
                <label for="email">Email:</label>
                <% if (email) { %>
                    <input type="email" name="email" value="<%= email %>">
                <% }else{ %>
                    <input type="email" name="email" autofocus required>
                <% } %>
                <div class="password" style="margin-bottom: 10px;">
                    <label for="password">Password:</label>
                    <% if(email){ %>
                        <input type="password" id="password" name="password" maxlength="30" minlength="6" autofocus style="margin-bottom: 0;" required>
                    <% }else{ %>
                        <input type="password" id="password" name="password" maxlength="30" minlength="6" style="margin-bottom: 3px;" required>
                    <%} %>
                    <input type="checkbox" id="togglePassword" style="cursor: pointer; vertical-align: middle; margin-left: 1px;">
                    <span style="font-size: 16px; margin-left: 2px; margin-bottom: 6px; vertical-align: middle; color: #555;">Show</span>
                </div>

                <button type="submit" id="login-button">Login</button>
                
            </form> 
            <a href="/register">Don't have an account? Register here</a>
        </div>
    </div>
    <script>
        const toggle = document.getElementById("togglePassword");
        const passwordField = document.getElementById("password")
        toggle.addEventListener("click", function () {
            const isPassword = passwordField.type === 'password';

            passwordField.type = isPassword ? 'text' : 'password';
        });
    </script>
        <script>
            setTimeout(() => {
                const alert = document.querySelector('.alert');
                if (alert) alert.remove();
            }, 1000);
        </script>
</body>


