<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/auth.css" rel="stylesheet">
</head>
<body class="login">
    <div class="loginContainer">
        <div class="box">
            <form method="post" action="/auth/register" class="login-form">
                <label for="name">Name:</label>
                <input type="text" name="name"  autofocus required>
                <label for="email">Email:</label>
                <input type="email" name="email" autocomplete="email" required>

                <div class="password" style="margin-bottom: 10px;">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" minlength="6" maxlength="30" style="margin-bottom: 3px" required>
                    <input type="checkbox" id="togglePassword" style="cursor: pointer;outline: none; vertical-align: middle; margin-left: 1px;">
                    <span style="font-size: 16px; margin-left: 2px; margin-bottom: 6px; vertical-align: middle; color: #555;">Show</span>
                </div>

                <button type="submit" id="login-button">Register</button>
            </form>
            <a href="/">Already have an account? Login here</a>
        </div>
    </div>
    <script>
        const toggle = document.getElementById("togglePassword");
        const passwordField = document.getElementById("password")
        toggle.addEventListener("click", function () {
            const isPassword = passwordField.type === 'password';

            passwordField.type = isPassword ? 'text' : 'password';
        });
    </script>
</body>